.card-cell {
    background-color:#ffffff;
    border:1px solid #c7c7c7;
    border-radius:8px;
    width:17vw;
    max-width: 221px;
    height:17.5vw;
    max-height: 224px;
    min-width: 194px;
    min-height: 200px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;

}
.card-cell h4{
    color: #3f3d3d;
    margin-bottom: 15px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-cell-preview {
    overflow: hidden;
    opacity: .8;
    flex: 1;
}
.card-cell-time{
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    color: #8e8d8d;
    line-height: 32px;
}
.card-cell .markdown {
    font-size: 80%;
}
.card-cell .markdown h1,h2,h3,h4,h5,h6 {
    line-height: 1.4;
}
.error-btn{
    position: absolute;
    right: 5px;
    top: 5px;
}
.error-btn img{
    width: 30px;
    height: 30px;
}
.card-cell-tool-bar{
    height: 45px;
    width: 100%;
    background: rgba(25,25,25,0.6);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.card-cell-tool-bar .card-cell-tool-bar-icon{
    width: 40px;
    height: 30px;
}
.limit {
    display: none;
}
.limitContent {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 32px;
    height: 24px;
    left: 0;
    line-height: 32px;
    background-image: linear-gradient(0deg, #ffffff 4%, rgba(255,255,255,0.00) 83%);;
}
