.carousel-container {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}

.carousel {
    padding-top: 10%;
    margin: auto;
    height: 90%;
}

.page-flex {
    /*width: 650px;*/
    float: left;
    /*height:410px;*/
    /* TODO: height adjust*/
    background-color: transparent;
}

.page-list {
    overflow: hidden;
    /*max-height: 630px;*/
}

.page-item {
    margin: auto;
    display: inline-table;
}

.carousel-container .arrow {
    position: absolute;
    width: 20px;
    height: 150px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
}

.carousel-container .arrow.prev {
    left: 5px;
}

.carousel-container .arrow.next {
    right: 5px;
}

.page-number {
    text-align: right;
    color: #494b59;
    font-size: 18px;
    position: absolute;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-right: 10px;
}