.single-main {
    overflow: auto;
    /*min-width: 760px;*/
    display: flex;;
    flex: 1;
    flex-direction: column;
}

.top-nav .top-bar {
    background: #fff;
    width: 100%;
    height: 50px;
    min-height: 50px;
    position: relative;
    border-bottom: 1px solid #dde5e9;
    z-index: 99;
    box-shadow: 0 1px 3px 0 rgba(167, 167, 167, 0.58);
    display: flex;
}

.top-nav .go_back {
    font-size: 16px;
    color: #e75151;
    text-align: left;
    height: 100%;
    margin-left: 30px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.top-nav .go_back img {
    vertical-align: middle;
    width: 10px;
    padding: 6px 12px 8px 0px;
}

.top-bar-left, .top-bar-center, .top-bar-right {
    flex: 1;
    text-align: center;
    line-height: 100%;
    color: #474747;
}