.card-single-side {
    background: #fff;
    padding: 40px 30px 59px 44px;
    overflow: auto;
}

.card-edit-btn{
    position: absolute;
    right: 20px;
    top: 20px;
}

.card-edit-btn img{
    width: 23px;
    height: 23px;
}
.card-single-side .card-title{
    text-align: center;
    color: #2d2d2d;
    line-height: 30px;
    margin-bottom: 30px;
}
.card-editor{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card-editor input{
    height: 45px;
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #d6d6d6;
    border-radius: 1px;
    margin-bottom: 32px;
    font-size: 20px;
    color: #2a2929;
    padding-left: 10px;
}
.card-editor textarea{
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #c7c7c7;
    border-radius: 1px;
    font-size: 18px;
    color: #606060;
    line-height: 38px;
    padding: 10px;
    flex: 1;
}
.card-editor-action{
    position: absolute;
    right: 30px;
    bottom: 15px;
    margin: auto;
}
.card-editor-btn{
    width: 78px;
    height: 25px;
    border-radius:1px;
    font-size: 1.2em;
    vertical-align: middle;
}
.card-editor-btn.cancel{
    background: #dddcdc;
    color: #8e8c8c;
    margin-right: 38px;
    font-size: 14px;
    position: relative;
    top:1px;
}
.card-editor-btn.finish{
    background: #e14d4d;
    color: #fff;
    font-size: 14px;
    position: relative;
    top:1px;
}