.card-page-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.search-bar {
    position: absolute;
    right: 30px;
    border-radius:2px;
    width:216px;
    height:27px;
    border: none;
    padding:0 12px;
    top:0;
    bottom: 0;
    margin: auto;
    background-color: #f1f1f1;
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: 190px center ;
    background-size: 18px;
    font-size: 12px;
}