.video-card-front-container, .plyr__video-wrapper, .plyr--video {
    width: 100%;
    height: 100%;
}

.video-card-front-container {
    position: relative;
}

.plyr__video-wrapper {
    text-align: center;
    background-color: #FFFFFF !important;
}

.card-open-main-video video.plyr--setup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.video-poster-container {
    background: url("http://ojltd5p1y.bkt.clouddn.com/post@2x.png") no-repeat top center;
    background-size: cover;
    position: absolute;
    z-index: 300;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.video-poster-container > div {
    opacity:0.9;
    background-image:linear-gradient(46deg, #4778b2 0%, #477db3 6%, #4a9ab5 43%, #4ec6ba 100%);
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 40px;
}


.video-poster-container h2 {
    font-size:30px;
    color:#ffffff;
    text-align:center;
    margin-bottom: 45px;
    line-height: 50px;
}

.video-poster-container button {
    width: 50px;
    height: 50px;
}

.video-poster-container .play-btn {
    width: 50px;
    height: 50px;
}

.video-poster-container.hide {
    display: none;
}
