.favor-box {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 16px;

}
.favor-btn {
    width: 22px;
    position: absolute;
    bottom: 0;
    right: 10px;
    top: 0;
    margin: auto;
    z-index: 77;

}

.favor-btn:hover {
    cursor: pointer;
}